@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-grid-white-soft {
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.06) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.06) 1px, transparent 1px);
  background-size: 40px 40px;
}

.bg-grid-white-soft-big {
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.06) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.06) 1px, transparent 1px);
  background-size: 100px 100px;
}

.bg-grid-primary-blue {
  background-image: linear-gradient(
      to right,
      rgba(25, 70, 112, 0.2) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(25, 70, 112, 1) 1px, transparent 1px);
  background-size: 60px 60px;
}

.news-body img {
  display: inline-block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 500px;
  margin-right: 1rem;
  margin-bottom: 1rem;
  object-fit: contain;
  vertical-align: top;
}
.news-body p img {
  display: inline-block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 500px;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  object-fit: contain;
  vertical-align: top;
}

.news-body p {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.news-body h2 {
  font-size: 1.5rem;
  font-weight: 600;
  font-style: bold;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.news-body ul {
  list-style-type: disc;
  padding-left: 1.5rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

@media (max-width: 640px) {
  .news-body img {
    width: 100%;
    height: 100%;
    margin-right: 0rem;
  }
  .news-body p img {
    width: 100%;
    height: 100%;
    margin-right: 0rem;
  }
}

.tiptap p.is-editor-empty:first-child::before {
  color: #9ca3af; /* abu-abu tailwind: text-gray-400 */
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.tiptap {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.439 0 0);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
